<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница | Сотрудники</title>
    <link rel="stylesheet" href="/static/css/my.css">
  </head>
  <body class="my-class">
    <div>
        <h1 >Orders</h1>
        <table>

          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>client_id</th>
          </tr>
          {% for order in orders %}
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.cost}}</td>
            <td>{{order.client_id}}</td>

          </tr>
          {% endfor %}

    </div>
  </body>
</html>